<li>
	{{burger_name}}

	<button class="btn btn-primary btn-sm change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}BURGER TIME!{{else}}REGURGITATE!{{/if}}
	</button>

	<button class="btn btn-secondary btn-sm delete-burger" data-id="{{id}}">DELETE!
	</button>
</li>
